@page
@model AccountingSystem.Pages.Accounting.EditAssetModel
@{
}

<form method="post">
	<div class="modal-content hold-transition login-page">
		<div class="modal-header" ;color:white;text-align:center">
			<h5 class="modal-title w-100 text-center">Bank</h5>
		</div>
		<div class="modal-body">
			@if (!Model.Success)
			{
				<div class="alert-danger text-center">
					@Model.Message
				</div>
			}
			<div class="row">
				<div class="col-sm-4">
					Name
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<input type="text" asp-for="Asset.Name" class="form-control" placeholder="Name" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					Original Value
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" asp-for="Asset.OriginalValue" class="form-control" placeholder="Original Value" />
					</div>
				</div>
				<div class="col-sm-2">
					Book Value
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" asp-for="Asset.BookValue" class="form-control" placeholder="Book Value" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					Not Depreciation Value
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" asp-for="Asset.NotDepreciationValue" class="form-control" placeholder="Not Depreciation Value" />
					</div>
				</div>
				<div class="col-sm-2">
					Depreciation Value
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" asp-for="Asset.DepreciationValue" class="form-control" placeholder="Depreciation Value" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					Depreciation Method
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" asp-for="Asset.DepreciationMethod" class="form-control" placeholder="Depreciation Method" />
					</div>
				</div>
				<div class="col-sm-2">
					Depreciation Duration
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" asp-for="Asset.DepreciationDuration" class="form-control" placeholder="Depreciation Duration" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					Start Depreciation
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="date" asp-for="Asset.StartDepreciation" class="form-control" />
					</div>
				</div>
				<div class="col-sm-2">
					Acquisition Date
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="date" asp-for="Asset.AcquisitionDate" class="form-control" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					Asset GL Account
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<select class="form-control" asp-for="Asset.AssetGlAccount">
							<option selected>Select GL Account</option>
							@foreach (var account in Model.Accounts)
							{
								<option value="@account.Name">@account.Code @account.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="col-sm-2">
					Depreciation GL Account
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<select class="form-control" asp-for="Asset.DepreciationGlAccount">
							<option selected>Select Depreciation Account</option>
							@foreach (var account in Model.Accounts)
							{
								<option value="@account.Name">@account.Code @account.Name</option>
							}
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					Expense GL Account
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<select class="form-control" asp-for="Asset.ExpenseGlAccount">
							<option selected>Select Expense Account</option>
							@foreach (var account in Model.Accounts)
							{
								<option value="@account.Name">@account.Code @account.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="col-sm-2">
					Journal
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<select class="form-control" asp-for="Asset.Journal">
							<option selected>Select Journal</option>
							@foreach (var journal in Model.Journals)
							{
								<option value="@journal.Name">@journal.Name</option>
							}
						</select>
					</div>
				</div>
			</div>

			@*<div class="form-check">
			<input class="form-check-input" type="radio" asp-for="Asset.Closed" value="Account.Closed" id="closed">
			<label class="form-check-label" for="closed">
				Closed
			</label>
		</div>*@
		</div>
		<div class="modal-footer" style="background-color:#467fd0;color:white;text-align:center">
			<button type="submit" class="btn btn-success">SAVE</button>
			<a class="btn btn-secondary" asp-page="./ListAssets">BACK</a>
		</div>
	</div>
</form>

