@page
@model AccountingSystem.Pages.Accounting.EditDefferredExpenseModel
@{
}

<form method="post">
	<div class="modal-content hold-transition login-page">
		<div class="modal-header" ;color:white;text-align:center">
			<h5 class="modal-title w-100 text-center">Bank</h5>
		</div>
		<div class="modal-body">
			@if (!Model.Success)
			{
				<div class="alert-danger text-center">
					@Model.Message
				</div>
			}
			<div class="row">
				<div class="col-sm-4">
					Name
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<input type="text" asp-for="DefferredExpense.Name" class="form-control" placeholder="Name" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					Original Amount
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" asp-for="DefferredExpense.OriginalAmount" class="form-control" placeholder="Original Amount" />
					</div>
				</div>
				<div class="col-sm-2">
					Residual Amount
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" asp-for="DefferredExpense.ResidualAmount" class="form-control" placeholder="Residual Amount" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					Defferred Amount
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" asp-for="DefferredExpense.DefferredAmount" class="form-control" placeholder="Defferred Amount" />
					</div>
				</div>
				<div class="col-sm-2">
					Journal
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<select class="form-control" asp-for="DefferredExpense.Journal">
							<option selected>Select Journal</option>
							@foreach (var journal in Model.Journals)
							{
								<option value="@journal.Name">@journal.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					Recognition Months
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" asp-for="DefferredExpense.RecognitionMonths" class="form-control" placeholder="Recognition Months" />
					</div>
				</div>
				<div class="col-sm-2">
					Recognition Years
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" asp-for="DefferredExpense.RecognitionYears" class="form-control" placeholder="Recognition Years" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					Acquisition Date
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="date" asp-for="DefferredExpense.AcquisitionDate" class="form-control" />
					</div>
				</div>
				<div class="col-sm-2">
					First Recognition Date
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="date" asp-for="DefferredExpense.FirstRecognitionDate" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					Expense GL Account
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<select class="form-control" asp-for="DefferredExpense.ExpenseGlAccount">
							<option selected>Select Expense GL Account</option>
							@foreach (var account in Model.Accounts)
							{
								<option value="@account.Name">@account.Code @account.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="col-sm-2">
					Deferred GL Account
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<select class="form-control" asp-for="DefferredExpense.DeferredGlAccount">
							<option selected>Select Expense GL Account</option>
							@foreach (var account in Model.Accounts)
							{
								<option value="@account.Name">@account.Code @account.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer" style="background-color:#467fd0;color:white;text-align:center">
			<button type="submit" class="btn btn-success">SAVE</button>
			<a class="btn btn-secondary" asp-page="./ListDefferredExpenses">BACK</a>
		</div>
	</div>
</form>
