@page
@model AccountingSystem.Pages.Accounting.EditJournalEntryModel
@{
}
<form method="post">
    <div class="modal-content hold-transition login-page">
        <div class="modal-header" ;color:white;text-align:center">
            <h5 class="modal-title w-100 text-center">Bank</h5>
        </div>
        <div class="modal-body">
            @if (!Model.Success)
            {
                <div class="alert-danger text-center">
                    @Model.Message
                </div>
            }
            <div class="row">
                <div class="col-4">
                    <input type="text" asp-for="JournalEntry.No" class="form-control" placeholder="Ref no" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    Reference
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" asp-for="JournalEntry.Ref" class="form-control" placeholder="Ref" />
                    </div>
                </div>
                <div class="col-sm-2">
                    Accounting Date
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" asp-for="JournalEntry.Date" class="form-control" placeholder="date" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        Journal
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="form-control" asp-for="JournalEntry.Journal">
                                <option selected>Select Journal</option>
                                @foreach (var journal in Model.Journals)
                                {
                                    <option value="@journal.Name">@journal.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-invers">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <div class="row">
                        <li class="btn btn-primary" data-toggle="collapse" data-target="#collapseSales" aria-expanded="false" aria-controls="collapseExample" type="button" placeholder="Journal Items" value="Journal Items">Journal Items</li>
                        <li class="btn btn-primary" data-toggle="collapse" data-target="#collapseAccounting" aria-expanded="false" aria-controls="collapseExample" type="button" placeholder="Other Info" value="Other Info">Other Info</li>
                </div>
                </ul>
        </div>
        </nav>
        <div id="myGroup">
            <div class=collapse col-sm-12" id="collapseInvoice" data-parent="#myGroup">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            Account
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="product">
                                <option selected>Select</option>
                                @foreach (var account in Model.Accounts)
                                {
                                    <option value="@account.Code">@account.Code@account.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-2">
                            Partner
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="glAccount">
                                <option selected>Select</option>
                                @foreach (var vender in Model.Vendors)
                                {
                                    <option value="@vender.Id@vender.Name">@vender.Id@vender.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-2">
                            Label
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" asp-for="JournalEntry.Date" class="form-control" placeholder="Label" id="lable" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        Debit
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" asp-for="JournalEntry.Date" id="debit" class="form-control" placeholder="Price" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        Credit
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" id="credit" class="form-control" placeholder="Price" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        Tax Grids
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="glAccount">
                            <option selected>Select</option>
                            @foreach (var tax in Model.Tax)
                            {
                              <option value="@tax.Id@tax.Name">@tax.Name@tax.Rate</option>
                            }
                        </select>
                    </div>
                    <div class="row">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Account</th>
                                    <th scope="col">Partner</th>
                                    <th scope="col">Label</th>
                                    <th scope="col">Debit</th>
                                    <th scope="col">Credit</th>
                                    <th scope="col">Tax Grids</th>
                                </tr>
                            </thead>
                            <tbody id="items">
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <a class="btn btn-success" id="add-item">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse col-sm-12" id="collapseInternal" data-parent="#myGroup">
                <div class="row">
                    <div class="col-sm-2">
                        Post Automatically
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="checkbox" id="post" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        To check
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="checkbox" id="check" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal-footer" style="background-color:#467fd0;color:white;text-align:center">
            <button type="submit" class="btn btn-success">SAVE</button>
            <a class="btn btn-secondary" asp-page="./ListJournalEntries">BACK</a>
        </div>
    </div>
</form>
