@page
@model AccountingSystem.Pages.Configuration.EditSettingModel
@{
}
<form method="post">
	<div class="modal-content hold-transition login-page">
		<div class="modal-header" ;color:white;text-align:center">
			<h5 class="modal-title w-100 text-center">Settings</h5>
		</div>
		<div class="modal-body">
			@if (!Model.Success)
			{
				<div class="alert-danger text-center">
					@Model.Message
				</div>
			}
			<div class="row">
				<div class="col-sm-4">
					Sales Tax
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<select class="form-control" asp-for="Setting.SalesTax">
							<option selected>Select Sales Tax</option>
							@foreach (var tax in Model.Taxes)
							{
								<option value="@tax.Name">@tax.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Purchase Tax
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<select class="form-control" asp-for="Setting.PurchaseTax">
							<option selected>Select Purchase Tax</option>
							@foreach (var tax in Model.Taxes)
							{
								<option value="@tax.Name">@tax.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Periodicity
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<select class="form-control" asp-for="Setting.Periodicity">
							<option selected>Select Periodicity</option>
							@foreach (var period in Model.Periodicities)
							{
								<option value="@period">@period</option>
							}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Journal
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<select class="form-control" asp-for="Setting.Journal">
							<option selected>Select Journal</option>
							@foreach (var journal1 in Model.Journals)
							{
								<option value="@journal1.Name">@journal1.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
			@*<div class="row">
				<div class="col-sm-4">
					Name
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<input type="text" asp-for="Setting.Name" class="form-control" placeholder="Name" />
					</div>
				</div>
			</div>*@
		</div>
		<div class="modal-footer" style="background-color:#467fd0;color:white;text-align:center">
			<button type="submit" class="btn btn-success">SAVE</button>
		</div>
	</div>
</form>

