@page
@model AccountingSystem.Pages.Configuration.EditDefferredExpenseModelModel
@{
}
<form method="post">
	<div class="modal-content hold-transition login-page">
		<div class="modal-header" ;color:white;text-align:center">
			<h5 class="modal-title w-100 text-center">Defferred Expense Model</h5>
		</div>
		<div class="modal-body">
			@if (!Model.Success)
			{
				<div class="alert-danger text-center">
					@Model.Message
				</div>
			}
			<div class="row">
				<div class="col-sm-4">
					Name
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<input type="text" asp-for="DefferredExpenseModel.Name" class="form-control" placeholder="Name" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					GL Account
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<select class="form-control" asp-for="DefferredExpenseModel.GlAccount">
							<option selected>Select Account type</option>
							@foreach (var account in Model.Accounts)
							{
								<option value="@account.Name">@account.Code @account.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Depreciation Method
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<input type="text" asp-for="DefferredExpenseModel.DepreciationMethod" class="form-control" placeholder="Depreciation Method" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Depreciation Duration
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<input type="text" asp-for="DefferredExpenseModel.DepreciationDuration" class="form-control" placeholder="Depreciation Duration" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Depreciation GL Account
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<select class="form-control" asp-for="DefferredExpenseModel.DepreciationGlAccount">
							<option selected>Select Account type</option>
							@foreach (var account in Model.Accounts)
							{
								<option value="@account.Name">@account.Code @account.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Revenue GL Account
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<select class="form-control" asp-for="DefferredExpenseModel.RevenueGlAccount">
							<option selected>Select Account type</option>
							@foreach (var account in Model.Accounts)
							{
								<option value="@account.Name">@account.Code @account.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					Journal
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<select class="form-control" asp-for="DefferredExpenseModel.Journal">
							<option selected>Select Account type</option>
							@foreach (var journal in Model.Journals)
							{
								<option value="@journal.Name">@journal.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer" style="background-color:#467fd0;color:white;text-align:center">
			<button type="submit" class="btn btn-success">SAVE</button>
			<a class="btn btn-secondary" asp-page="./ListDefferredExpenseModel">BACK</a>
		</div>
	</div>
</form>
