@page
@model AccountingSystem.Pages.Vendors.EditRefundsModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{

}
<div class="card border-primary mt-3">
	<div class="card-header border-primary"><strong>REFUNDS</strong></div>
	<div class="card-body">
		@if (!Model.Success)
		{
			<div class="alert-danger text-center">
				@Model.Message
			</div>
		}

		<form method="post" id="refundForm">
			<div class="row">
				<div class="col-sm-2">
					<div class="row m-0">
						<label for="" style="color:green">Vendor</label>
					</div><br>
					<div class="row m-0">
						<label for="" style="color:green">Bill Reference</label>
					</div><br>
					<div class="row m-0">
						<label for="" style="color:green">Reference</label>
					</div><br>
					<div class="row m-0">
						<label for="" style="color:green">Recipient Bank</label>
					</div><br>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<select class="form-control" id="vendor">
							<option selected>Select payment terms</option>
							@foreach (var vender in Model.Venders)
							{
								<option value="@vender.Name">@vender.Name</option>
							}
						</select>
					</div><br>
					<div class="row">
						<input type="text" id="bill-ref" class="form-control" placeholder="" />
					</div><br> 
					<div class="row">
						<input type="text" id="ref" class="form-control" placeholder="" />
					</div><br>
					<div class="row">
						<select class="form-control" id="bank">
							<option selected>Select Bank</option>
							@foreach (var bank in Model.Banks)
							{
								<option value="@bank.AccNo">@bank.Name</option>
							}
						</select>
					</div>
				</div><br>
				<div class="col-sm-2">
					<div class="row m-0">
						<label for="" style="color:green">Bill Date</label>
					</div><br>
					<div class="row m-0">
						<label for="" style="color:green">Due Date</label>
					</div><br>
					<div class="row m-0">
						<label for="" style="color:green">Journal</label>
					</div><br>
				</div><br>
				<div class="col-sm-4">
					<div class="row">
						<input type="date" id="date" class="form-control" placeholder="" />
					</div><br>
						  <div class="row m-0">
						  	<div class="col-sm-6">
						  		<input type="date" id="due-date" class="form-control" placeholder="" />
						  	</div>Or
						  	<div class="col-sm-5">
						  		<select class="form-control" id="ico-term">
						  			<option selected>Select payment terms</option>
						  			@foreach (var term in Model.PaymentTerms)
								{
						  		<option value="@term.Term">@term.Term</option>
						}
						  </select>
						  </div> 
						  </div><br>
					<div class="row">
						<select class="form-control" id="journal">
							<option selected>Select Journal</option>
							@foreach (var journal in Model.Journals)
							{
								<option value="@journal.Name">@journal.Name</option>
							}
						</select>
					</div><br>
				</div><br>
			</div><br>
		</form>

		<div class="m-4">
			<ul class="list-inline">
				<li class="btn btn-primary list-inline-item" data-toggle="collapse" data-target="#collapseInvoice" aria-expanded="false" aria-controls="collapseExample" type="button">Invoice Lines</li>
				<li class="btn btn-primary list-inline-item" data-toggle="collapse" data-target="#collapseJournal" aria-expanded="false" aria-controls="collapseExample" type="button">Journal Items</li>
				<li class="btn btn-primary list-inline-item" data-toggle="collapse" data-target="#collapseOther" aria-expanded="false" aria-controls="collapseExample" type="button">Other Info</li>
			</ul>
		</div>
		<div id="myGroup">
			<div class=collapse col-sm-12" id="collapseInvoice" data-parent="#myGroup">
				<div class="card card-body">
					<div class="row">
						<div class="col-sm-2">
							Product
						</div>
						<div class="col-sm-4">
							<select class="form-control" id="product">
								<option selected>Select product</option>
								@foreach (var product in Model.Products)
								{
									<option value="@product.Name">@product.Name</option>
								}
							</select>
						</div>
						<div class="col-sm-2">
							Label
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Label" id="lable" disabled />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-2">
							GL Account
						</div>
						<div class="col-sm-4">
							<select class="form-control" id="glAccount">
								<option selected>Select Account</option>
								@foreach (var account in Model.Accounts)
								{
									<option value="@account.Code">@account.Code @account.Name</option>
								}
							</select>
						</div>
						<div class="col-sm-2">
							Price
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="price" class="form-control" placeholder="Price" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							Quantity
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="qty" class="form-control" placeholder="Quantity" />
							</div>
						</div>
						<div class="col-sm-2">
							Tax
						</div>
						<div class="col-sm-4">
							<select class="form-control" id="tax">
								<option selected>Select Tax</option>
								@foreach (var tax in Model.Taxes)
								{
									<option value="@tax.Name">@tax.Name</option>
								}
							</select>
						</div>
					</div>

					<div class="row">
						<table class="table table-sm table-hover">
							<thead>
								<tr>
									<th scope="col">Product</th>
									<th scope="col">GL Account</th>
									<th scope="col">Price</th>
									<th scope="col">Product</th>
									<th scope="col">Subtotal</th>
								</tr>
							</thead>
							<tbody id="items">
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<a class="btn btn-success" id="add-item">Add</a>
						</div>
					</div>
				</div>
			</div>

			<div class=collapse col-sm-12" id="collapseJournal" data-parent="#myGroup">
				<div class="card card-body">
					<div class="row">
						<table class="table table-sm table-hover">
							<thead>
								<tr>
									<th scope="col">GL Account</th>
									<th scope="col">Label</th>
									<th scope="col">Debit</th>
									<th scope="col">Credit</th>
								</tr>
							</thead>
							<tbody id="journals">
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class=collapse col-sm-12" id="collapseOther" data-parent="#myGroup">
				<div class="card card-body">
					<label><b>Accounting</b></label>
					<div class="row">
						<div class="col-sm-3">
							<div class="row">
								<div class="form-control">
									Incoterm
								</div>
							</div>
							<div class="row">
								<div class="form-control">
									Fiscal Position
								</div>
							</div>
							<div class="row">
								<div class="form-control">
									Post Automatically
								</div>
							</div>
							<div class="row">
								<div class="form-control">
									To Check
								</div>
							</div>
						</div>

						<div class="col-sm-5">
							<div class="row">
								<select class="form-control" asp-for="RefundDetail.GlAccount">
									<option selected>Select Account</option>
									@foreach (var account in Model.IncoTerms)
									{
										<option value="@account.Name">@account.Name</option>
									}
								</select>
								<select class="form-control"></select>
							</div>
							<div class="row">
								<select class="form-control"></select>
							</div>
							@*<div class="row">
									<label class="checkbox-inline">
										<input type="checkbox" asp-for="RefundDetail.au" class="form-control" />
										<input type="checkbox" name="Post">
									</label>
								</div>*@
							<div class="row">
								<label class="checkbox-inline">
									<input type="text" asp-for="RefundDetail.GlAccount" class="form-control" />
									<input type="checkbox" name="ToCheck">
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer" style="text-align:right">
		<button id="btn-save-refund" class="btn btn-success">SAVE</button>
		<a class="btn btn-secondary" asp-page="/ListRefunds">BACK</a>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(function () {
			//let taxes = Model.Taxes;
			let items = new Array();
			let journals = new Array();
            $('#product').on('change', function () {
				var selectVal = $("#product").val();
				$("#lable").val(selectVal);
			});
			$('#add-item').on('click', function () {
				// prevent default action (going to the another page)
				event.preventDefault()
				let qty = parseFloat($("#qty").val());
				let price = parseFloat($("#price").val());
				let product = $("#product").val();
				let account = $("#glAccount").val();
				if (!product || !account || !price || !qty) {
					return
				}

				items.push(
					{
						product: product,
						label: $("#lable").val(),
						glAccount: account,
						quantity: qty,
						price: price,
						tax: $("#tax").val(),
						subTotal: qty * price
					}
				);

				let itemTableRows = new Array();
				items.forEach(i => {
					itemTableRows.push(`<tr>
					<td>${i.product}</td>
					<td>${i.glAccount}</td>
					<td>${i.price}</td>
					<td>${i.quantity}</td>
					<td>${i.subTotal}</td>
				</tr>`)
				});

				$('#items').html(itemTableRows);

				let tax = 0;
				let total = 0;
				let itemJournals = new Array();
				items.forEach(i => {
					let rate = 15;
					tax += (i.subTotal * rate * 0.01);
					total += i.subTotal;
					itemJournals.push(
						{
							glAccount: i.glAccount,
							label: i.label,
							debit: 0,
							credit: i.subTotal
						}
					);
				});

				itemJournals.push(
					{
						glAccount: "Tax Paid",
						label: "Tax 15%",
						debit: 0,
						credit: tax
					}
				);

				itemJournals.push(
					{
						glAccount: "Account Payable",
						label: "Account Payable",
						debit: total + tax,
						credit: 0
					}
				);

				journals = itemJournals;
				let journalTableRows = new Array();
				journals.forEach(i => {
					journalTableRows.push(`<tr>
					<td>${i.glAccount}</td>
					<td>${i.label}</td>
					<td>${i.debit}</td>
					<td>${i.credit}</td>
				</tr>`)
				});

				$('#journals').html(journalTableRows);

				$("#product").val("");
				$("#lable").val("");
				$("#glAccount").val("");
				$("#price").val("");
				$("#qty").val("");
				$("#tax").val("");
			});
			$('#btn-save').on('click', function () {
				let refund = {
					billRef: $("#bill-ref").val(),
					vendor: $("#vendor").val(),
					ref: $("#ref").val(),
					billDate: $("#date").val(),
					dueDate: $("#due-date").val(),
					journal: $("#journal").val(),
					receipientBank: $("#bank").val(),
					incoTerm: $("#ico-term").val(),
					fiscalPosition: '',
					refundDetails: items,
					refundJournals: journals
				};
				$.ajax({
					type: 'POST',
					url: '@Url.Page("EditRefunds")',
					contentType: 'application/json',
					headers:
					{
						"RequestVerificationToken": "@Xsrf.GetAndStoreTokens(HttpContext).RequestToken"
					},
					data: JSON.stringify(refund),
					//success: function (response) {

					//},
					//failure: function (response) {
					//}
				}).then(function () {
					// ...
				});
			});
		});
	</script>
}
