@page
@model AccountingSystem.Pages.Reporting.CreditNotesReportModel
@{
    var count = 0;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
<div>
    <div class="modal-header" style="background-color:white;color:white;text-align:center">
        <button class="fas fa-file-download" onclick="generate()">EXPORT TO PDF</button>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-hover" id="simple_table1">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Number</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Invoice Date</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Next Activity</th>
                    <th scope="col">Tax Excluded</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col">Payment Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var creditNote in Model.CreditNotes)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@creditNote.Ref</td>
                        <td>@creditNote.Customer</td>
                        <td>@creditNote.InvoiceDate</td>
                        <td>@creditNote.DueDate</td>
                        <td>@creditNote.Personnel</td>
                        <td>@creditNote.Journal</td>
                        <td>@creditNote.IncoTerm</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function generate() {
        var doc = new jsPDF('p', 'pt', 'letter');
        var htmlstring = '';
        var tempVarToCheckPageHeight = 0;
        var pageHeight = 0;
        pageHeight = doc.internal.pageSize.height;
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 150,
            bottom: 60,
            left: 40,
            right: 40,
            width: 600
        };
        var y = 20;
        doc.setLineWidth(2);
        doc.text(200, y = y + 30, "CREDIT NOTES REPORT");
        doc.autoTable({
            html: "#simple_table1",
            startY: 70,
            theme: 'grid',
            columnStyles: {
                0: {
                    cellWidth: 0,
                },
                1: {
                    cellWidth: 0,
                },
                2: {
                    cellWidth: 0,
                }
            },
            styles: {
                minCellHeight: 40
            }
        })
        doc.save('creditNotes.pdf');
    }
</script>