@page
@model AccountingSystem.Pages.Reporting.GeneralLedgerReportModel
@{
    var count = 0;
 }
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
<div>
    <div class="modal-header" style="background-color:white;color:white;text-align:center">
        <button class="fas fa-file-download">EXPORT TO PDF</button>
    </div>
    <div class="table-responsive">
        @if (!Model.Success)
        {
            <div class="alert-danger text-center">
                @Model.Message
            </div>
        }
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Date</th>
                    <th scope="col">Communication</th>
                    <th scope="col">Debit</th>
                    <th scope="col">Credit</th>
                    <th scope="col">Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var AccountChart in Model.AccountCharts)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@AccountChart.Code</td>
                        <td>@AccountChart.Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="card-header-pills" style="font-size:x-large;">Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    @*<td>@Model.AccountCharts.Sum(i => i.s)</td>*@
                </tr>

            </tfoot>
        </table>
    </div>
</div>
