@page
@model AccountingSystem.Pages.Customers.EditCustomerCreditNotesModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
}
<div class="card border-primary mt-3">
	<div class="card-header border-primary"><strong>CREDIT NOTES</strong></div>
	<div>
		<div class="m-4">
			<ul class="list-inline">
				<li class="btn btn-primary list-inline-item" id="pay-model" data-toggle="modal" data-target="#paymentModal" aria-expanded="false" aria-controls="collapseExample" type="button">Register Payment</li>
			</ul>
		</div> <hr />

		<!-- Modal -->
		<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Register Payment</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-4">
								Journal
							</div>
							<div class="col-sm-8">
								<select class="form-control" id="p-journal">
									<option selected>Select Journal</option>
									@foreach (var journal1 in Model.Journals)
									{
										<option value="@journal1.Name">@journal1.Name</option>
									}
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								Amount
							</div>
							<div class="col-sm-8">
								<div class="form-group">
									<input type="text" id="p-amount" asp-for="CreditNote.TotalAmount" class="form-control" placeholder="Amount" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">
								Recipient Bank
							</div>
							<div class="col-sm-8">
								<select class="form-control" id="p-bank">
									<option selected>Select Bank</option>
									@foreach (var bank in Model.Banks)
									{
										<option value="@bank.Name">@bank.Name</option>
									}
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								Payment Date
							</div>
							<div class="col-sm-8">
								<div class="form-group">
									<input type="date" id="p-date" class="form-control">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">
								Memo
							</div>
							<div class="col-sm-8">
								<div class="form-group">
									<input type="text" id="p-ref" asp-for="CreditNote.Ref" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="save-payment">Create Payment</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		@if (!Model.Success)
		{
			<div class="alert-danger text-center">
				@Model.Message
			</div>
		}
		<form method="post">
			<div class="row">
				<div class="col-sm-2">
					Customer
				</div>
				<div class="col-sm-4">
					<select class="form-control" id="customer" asp-for="CreditNote.Customer">
						<option selected>Select Customer</option>
						@foreach (var customer in Model.Customers)
						{
							<option value="@customer.Name">@customer.Name</option>
						}
					</select>
				</div>
				<div class="col-sm-2">
					Payment Reference
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" id="pay-ref" asp-for="CreditNote.PaymentReference" class="form-control" placeholder="Payment Reference" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					Invoice Date
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="date" id="date" asp-for="CreditNote.InvoiceDate" class="form-control">
					</div>
				</div>
				<div class="col-sm-2">
					Due Date
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<input id="due-date" type="date" asp-for="CreditNote.DueDate" class="form-control">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					Terms
				</div>
				<div class="col-sm-4">
					<select class="form-control" id="ico-term" asp-for="CreditNote.IncoTerm">
						<option selected>Select Terms</option>
						@foreach (var term in Model.IncoTerms)
						{
							<option value="@term.Name">@term.Name</option>
						}
					</select>
				</div>
				<div class="col-sm-2">
					Journal
				</div>
				<div class="col-sm-4">
					<select class="form-control" id="journal" asp-for="CreditNote.Journal">
						<option selected>Select Journals</option>
						@foreach (var journal in Model.Journals)
						{
							<option value="@journal.Name">@journal.Name</option>
						}
					</select>
				</div>
			</div>
		</form>
		<div class="m-4">
			<ul class="list-inline">
				<li class="btn btn-primary list-inline-item" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" type="button">Invoice Lines</li>
				<li class="btn btn-primary list-inline-item" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample" type="button">Journal Items</li>
				<li class="btn btn-primary list-inline-item" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample" type="button">Other Info</li>
			</ul>
		</div>

		<div id="myGroup">
			<div class="collapse" id="collapseExample" data-parent="#myGroup">
				<div class="card card-body">
					<div class="row">
						<div class="col-sm-2">
							Product
						</div>
						<div class="col-sm-4">
							<select class="form-control" id="product">
								<option selected>Select product</option>
								@foreach (var product in Model.Products)
								{
									<option value="@product.Name">@product.Name</option>
								}
							</select>
						</div>
						<div class="col-sm-2">
							Label
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Label" id="lable" disabled />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-2">
							GL Account
						</div>
						<div class="col-sm-4">
							<select class="form-control" id="glAccount">
								<option selected>Select Account</option>
								@foreach (var account in Model.Accounts)
								{
									<option value="@account.Code">@account.Code @account.Name</option>
								}
							</select>
						</div>
						<div class="col-sm-2">
							Price
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="price" class="form-control" placeholder="Price" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-2">
							Quantity
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<input type="text" id="qty" class="form-control" placeholder="Quantity" />
							</div>
						</div>
						<div class="col-sm-2">
							Tax
						</div>
						<div class="col-sm-4">
							<select class="form-control" id="tax">
								<option selected>Select Tax</option>
								@foreach (var tax in Model.Taxes)
								{
									<option value="@tax.Name">@tax.Name</option>
								}
							</select>
						</div>
					</div>

					<div class="row">
						<table class="table table-sm table-hover">
							<thead>
								<tr>
									<th scope="col">Product</th>
									<th scope="col">GL Account</th>
									<th scope="col">Price</th>
									<th scope="col">Product</th>
									<th scope="col">Subtotal</th>
								</tr>
							</thead>
							<tbody id="items">
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<a class="btn btn-success" id="add-item">Add</a>
						</div>
					</div>
				</div>
			</div>

			<div class="collapse" id="collapseExample2" data-parent="#myGroup">
				<div class="card card-body">
					<div class="row">
						<table class="table table-sm table-hover">
							<thead>
								<tr>
									<th scope="col">GL Account</th>
									<th scope="col">Label</th>
									<th scope="col">Debit</th>
									<th scope="col">Credit</th>
								</tr>
							</thead>
							<tbody id="journals">
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="collapse" id="collapseExample4" data-parent="#myGroup">
				<div class="card card-body">
					<div class="row">
						<div class="column">

							<div class="table-responsive">
								<table class="table table-sm table-hover">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Account</th>
											<th scope="col">Label</th>
											<th scope="col">Debit</th>
											<th scope="col">Credit</th>
											<th scope="col">Tax Grids</th>
										</tr>
									</thead>

								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer" style="text-align:right">
		<button id="btn-save" class="btn btn-success">SAVE</button>
		<a class="btn btn-secondary" asp-page="./ListCustomerCreditNotes">BACK</a>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(function () {
			let tax = 0;
			let total = 0;
			let taxes = new Array();
			let items = new Array();
			let accounts = new Array();
			let journals = new Array();
			let memo = $("#p-ref").val();
			$('#pay-model').hide();
			if (memo) {
				$('#pay-model').show();
				$('#add-item').hide();
				$('#btn-save').hide();
			}

			$.ajax({
				type: 'POST',
				url: '@Url.Page("EditCustomerCreditNotes", "creditNote")',
				contentType: 'application/json',
				headers:
				{
					"RequestVerificationToken": "@Xsrf.GetAndStoreTokens(HttpContext).RequestToken"
				},
				data: JSON.stringify({ ref: memo}),
				success: function (response) {
					response.creditNote = response.creditNote ? response.creditNote : {};
					taxes = response.taxes;
					accounts = response.accounts;
					items = response.creditNote.creditNoteDetails;
					items = items ? items : new Array();
					if (response.isPaid) {
						$('#pay-model').hide();
					}

					if (items.length) {
						populateItemtable(items);
					}
				},
				failure: function (response) {
				}
			});

            $('#product').on('change', function () {
				var selectVal = $("#product").val();
				$("#lable").val(selectVal);
			});
			$('#add-item').on('click', function () {
				// prevent default action (going to the another page)
				event.preventDefault()
				let qty = parseFloat($("#qty").val());
				let price = parseFloat($("#price").val());
				let product = $("#product").val();
				let account = $("#glAccount").val();
				if (!product || !account || !price || !qty) {
					return
				}

				items.push(
					{
						product: product,
						lable: $("#lable").val(),
						glAccount: account,
						quantity: qty,
						price: price,
						tax: $("#tax").val(),
						subTotal: qty * price
					}
				);

				populateItemtable(items);
			});
			$('#btn-save').on('click', function () {
				let creditNote = {
					customer: $("#customer").val(),
					invoiceDate: $("#date").val(),
					dueDate: $("#due-date").val(),
					journal: $("#journal").val(),
					netAmount: total,
					tax: tax,
					totalAmount: total + tax,
					arrears: 0,
					status: '',
					paymentReference: $("#pay-ref").val(),
					salesPerson: '',
					receipientBank: '',
					incoTerm: $("#ico-term").val(),
					fiscalPosition: '',
					creditNoteDetails: items,
					creditNoteJournals: journals
				};
				$.ajax({
					type: 'POST',
					url: '@Url.Page("EditCustomerCreditNotes")',
					contentType: 'application/json',
					headers:
					{
						"RequestVerificationToken": "@Xsrf.GetAndStoreTokens(HttpContext).RequestToken"
					},
					data: JSON.stringify(creditNote),
					//success: function (response) {

					//},
					//failure: function (response) {
					//}
				}).then(function () {
					// ...
				});

				$("#customer").val("");
				$("#date").val("");
				$("#due-date").val("");
				$("#journal").val("");
				$("#pay-ref").val("");
				$("#ico-term").val("");
				$('#journals').html("");
				$('#items').html("");
			});

			$('#save-payment').on('click', function () {
				let amount = parseFloat($("#p-amount").val());
				let customer= $("#customer").val();
				let payment = {
					customer: customer,
					amount: amount,
					date: $("#p-date").val(),
					memo: memo,
					journal: $("#p-journal").val(),
					bankAccount: $("#p-bank").val()
				};

				if (!amount || !customer) {
					return;
				}
				$.ajax({
					type: 'POST',
					url: '@Url.Page("EditCustomerCreditNotes", "payment")',
					contentType: 'application/json',
					headers:
					{
						"RequestVerificationToken": "@Xsrf.GetAndStoreTokens(HttpContext).RequestToken"
					},
					data: JSON.stringify(payment),
					//success: function (response) {

					//},
					//failure: function (response) {
					//}
				}).then(function () {
					// ...
				});

				$("#customer").val("");
				$("#p-amount").val("");
				$("#p-date").val("");
				$("#p-journal").val("");
				$("#p-bank").val("");
			});

			function populateItemtable(items) {
				let itemTableRows = new Array();
				items.forEach(i => {
					itemTableRows.push(`<tr>
					<td>${i.product}</td>
					<td>${i.glAccount}</td>
					<td>${i.price}</td>
					<td>${i.quantity}</td>
					<td>${i.subTotal}</td>
				</tr>`)
				});

				$('#items').html(itemTableRows);

				tax = 0;
				total = 0;
				let itemJournals = new Array();
				items.forEach(i => {
					let rate = 0;
					taxes = taxes.filter(t => t.name === i.tax);
					if (taxes[0]) {
						rate = taxes[0].rate;
					}

					tax += (i.subTotal * rate * 0.01);
					total += i.subTotal;
					itemJournals.push(
						{
							glAccount: i.glAccount,
							label: i.lable,
							debit: i.subTotal,
							credit: 0
						}
					);
				});
				var receivedTaxes = accounts.filter(t => t.name === "Tax Received");
				if (!receivedTaxes[0]) {
					return
				}
				itemJournals.push(
					{
						glAccount: receivedTaxes[0].code,
						label: "Tax Received",
						debit: tax,
						credit: 0
					}
				);
				var receivables = accounts.filter(t => t.name === "Account Receivable");
				if (!receivables[0]) {
					return
				}
				itemJournals.push(
					{
						glAccount: receivables[0].code,
						label: "Account Receivable",
						debit: 0,
						credit: total + tax
					}
				);

				journals = itemJournals;
				let journalTableRows = new Array();
				journals.forEach(i => {
					journalTableRows.push(`<tr>
					<td>${i.glAccount}</td>
					<td>${i.label}</td>
					<td>${i.debit}</td>
					<td>${i.credit}</td>
				</tr>`)
				});

				$('#journals').html(journalTableRows);
				$("#product").val("");
				$("#lable").val("");
				$("#glAccount").val("");
				$("#price").val("");
				$("#qty").val("");
				$("#tax").val("");
			}
		});
	</script>
}