@page
@model AccountingSystem.Pages.Customers.ListCustomerPaymentsModel
@{
    var count = 0;
}
<div>
    <div class="modal-header" style="background-color:white;color:white;text-align:center">
        <a class="btn btn-info" asp-page="./EditCustomerPayments">CREATE</a>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Number</th>
                    <th scope="col">Journal</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var payments in Model.payments)
                {
                    count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@payments.Date</td>
                    <td>@payments.Journal</td>
                    <td>@payments.BankAccount </td>
                    <td>@payments.Customer </td>
                    <td>@payments.Amount</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>